<h1> Rails Team Calisiyor</h1>
	<p> Gerekli linkler verilecektir.</p>
	<%= link_to "Kayit", new_kitap_path%>
	<%= link_to "All", kitaps_path%> <br>
	 <br>





<%= image_tag("https://blog.ctf365.com/wp-content/uploads/2014/07/keep-calm-and-learn-ruby-on-rails-8.png")%>